In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("data.csv")
df.head()

                                             comment        type
0                                       يعطيكم الصحة      normal
1                                    عشي عندهما رجال      normal
2                         نبيك مغتصب الاطفال المنيوك  aggressive
3  بشير فار حبس خارج ثالثة ابتيدائي جاي اتناقش ما...      normal
4  مول القناة دزيزي جنيت تفرجت الفديو تاعك ولدي ت...      normal

In [6]:
df['aggressive'] = df['type'].apply(lambda x: 1 if x =='aggressive' else  0)
df.head()

                                             comment        type  aggressive
0                                       يعطيكم الصحة      normal           0
1                                    عشي عندهما رجال      normal           0
2                         نبيك مغتصب الاطفال المنيوك  aggressive           1
3  بشير فار حبس خارج ثالثة ابتيدائي جاي اتناقش ما...      normal           0
4  مول القناة دزيزي جنيت تفرجت الفديو تاعك ولدي ت...      normal           0

In [3]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df.comment,df.aggressive,test_size=0.2,random_state=1)

print("Shape of X_train: ", X_train.shape)
print("Shape of X_test: ", X_test.shape)

Shape of X_train:  (3524,)
Shape of X_test:  (882,)

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

# vectorize data
vectorizer = CountVectorizer(binary=True)

# learn a vocabulary dictionary of all tokens in the raw documents
vectorizer.fit(list(X_train) + list(X_test))

#transform documents to document-term matrix
x_train_vec = vectorizer.transform(X_train)
x_test_vec = vectorizer.transform(X_test)

In [9]:
from sklearn import svm
# classify using support vector classifier
svm = svm.SVC(kernel = 'linear', probability=True)

# fit the SVC model based on the given training data
prob = svm.fit(x_train_vec, y_train).predict_proba(x_test_vec)

# perform classification and prediction on samples in x_test
y_pred_svm = svm.predict(x_test_vec)

In [10]:
from sklearn.metrics import accuracy_score
print("Accuracy score for SVC is: ", accuracy_score(y_test, y_pred_svm) * 100, '%')

Accuracy score for SVC is:  86.39455782312925 %